@import "tailwindcss";

:root {
  --swiper-navigation-size: 44px;
  --swiper-theme-color: #007aff;
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: hsl(6, 78%, 57%);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-container-width: fit-content;
  --toastify-toast-width: 320px;
  --toastify-toast-offset: 16px;
  --toastify-toast-top: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-top)
  );
  --toastify-toast-right: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-right)
  );
  --toastify-toast-left: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-left)
  );
  --toastify-toast-bottom: max(
    var(--toastify-toast-offset),
    env(safe-area-inset-bottom)
  );
  --toastify-toast-background: #fff;
  --toastify-toast-padding: 14px;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-toast-bd-radius: 6px;
  --toastify-toast-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
  --toastify-color-progress-bgo: 0.2;
}

:root,
:host {
  --fa-font-solid: normal 900 1em / 1 "Font Awesome 7 Free";
  --fa-font-regular: normal 400 1em / 1 "Font Awesome 7 Free";
  --fa-font-light: normal 300 1em / 1 "Font Awesome 7 Pro";
  --fa-font-thin: normal 100 1em / 1 "Font Awesome 7 Pro";
  --fa-font-duotone: normal 900 1em / 1 "Font Awesome 7 Duotone";
  --fa-font-duotone-regular: normal 400 1em / 1 "Font Awesome 7 Duotone";
  --fa-font-duotone-light: normal 300 1em / 1 "Font Awesome 7 Duotone";
  --fa-font-duotone-thin: normal 100 1em / 1 "Font Awesome 7 Duotone";
  --fa-font-brands: normal 400 1em / 1 "Font Awesome 7 Brands";
  --fa-font-sharp-solid: normal 900 1em / 1 "Font Awesome 7 Sharp";
  --fa-font-sharp-regular: normal 400 1em / 1 "Font Awesome 7 Sharp";
  --fa-font-sharp-light: normal 300 1em / 1 "Font Awesome 7 Sharp";
  --fa-font-sharp-thin: normal 100 1em / 1 "Font Awesome 7 Sharp";
  --fa-font-sharp-duotone-solid: normal 900 1em / 1
    "Font Awesome 7 Sharp Duotone";
  --fa-font-sharp-duotone-regular: normal 400 1em / 1
    "Font Awesome 7 Sharp Duotone";
  --fa-font-sharp-duotone-light: normal 300 1em / 1
    "Font Awesome 7 Sharp Duotone";
  --fa-font-sharp-duotone-thin: normal 100 1em / 1
    "Font Awesome 7 Sharp Duotone";
  --fa-font-slab-regular: normal 400 1em / 1 "Font Awesome 7 Slab";
  --fa-font-slab-press-regular: normal 400 1em / 1 "Font Awesome 7 Slab Press";
  --fa-font-whiteboard-semibold: normal 600 1em / 1 "Font Awesome 7 Whiteboard";
  --fa-font-thumbprint-light: normal 300 1em / 1 "Font Awesome 7 Thumbprint";
  --fa-font-notdog-solid: normal 900 1em / 1 "Font Awesome 7 Notdog";
  --fa-font-notdog-duo-solid: normal 900 1em / 1 "Font Awesome 7 Notdog Duo";
  --fa-font-etch-solid: normal 900 1em / 1 "Font Awesome 7 Etch";
  --fa-font-jelly-regular: normal 400 1em / 1 "Font Awesome 7 Jelly";
  --fa-font-jelly-fill-regular: normal 400 1em / 1 "Font Awesome 7 Jelly Fill";
  --fa-font-jelly-duo-regular: normal 400 1em / 1 "Font Awesome 7 Jelly Duo";
  --fa-font-chisel-regular: normal 400 1em / 1 "Font Awesome 7 Chisel";
  --fa-font-utility-semibold: normal 600 1em / 1 "Font Awesome 7 Utility";
  --fa-font-utility-duo-semibold: normal 600 1em / 1
    "Font Awesome 7 Utility Duo";
  --fa-font-utility-fill-semibold: normal 600 1em / 1
    "Font Awesome 7 Utility Fill";
}

@layer base {
  *,
  :after,
  :before,
  ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }
  body {
    color: var(--color-gray-700);
    font-family: "Exo", sans-serif;
  }
}

@layer theme {
  @supports (color: lab(0% 0 0)) {
    :root,
    :host {
      --color-red-50: lab(96.5005% 4.18508 1.52328);
      --color-red-100: lab(92.243% 10.2865 3.83865);
      --color-red-200: lab(86.017% 19.8815 7.75869);
      --color-red-300: lab(76.5514% 36.422 15.5335);
      --color-red-500: lab(55.4814% 75.0732 48.8528);
      --color-red-600: lab(48.4493% 77.4328 61.5452);
      --color-red-700: lab(40.4273% 67.2623 53.7441);
      --color-orange-50: lab(97.7008% 1.53735 5.90649);
      --color-orange-100: lab(94.7127% 3.58394 14.3151);
      --color-orange-400: lab(70.0429% 42.5156 75.8207);
      --color-orange-500: lab(64.272% 57.1788 90.3583);
      --color-amber-50: lab(98.6252% -0.635922 8.42309);
      --color-amber-100: lab(95.916% -1.21653 23.111);
      --color-amber-200: lab(91.7203% -0.505269 49.9084);
      --color-amber-400: lab(80.1641% 16.6016 99.2089);
      --color-amber-500: lab(72.7183% 31.8672 97.9407);
      --color-amber-600: lab(60.3514% 40.5624 87.1228);
      --color-amber-700: lab(47.2709% 42.9082 69.2966);
      --color-amber-800: lab(37.8822% 37.1699 52.2718);
      --color-amber-900: lab(31.2288% 30.2627 40.0378);
      --color-yellow-300: lab(89.7033% -0.480294 84.4917);
      --color-yellow-400: lab(83.2664% 8.65132 106.895);
      --color-green-50: lab(98.1563% -5.60117 2.75915);
      --color-green-100: lab(96.1861% -13.8464 6.52365);
      --color-green-200: lab(92.4222% -26.4702 12.9427);
      --color-green-400: lab(78.503% -64.9265 39.7492);
      --color-green-500: lab(70.5521% -66.5147 45.8073);
      --color-green-600: lab(59.0978% -58.6621 41.2579);
      --color-green-700: lab(47.0329% -47.0239 31.4788);
      --color-green-800: lab(37.4616% -36.7971 22.9692);
      --color-emerald-50: lab(97.8462% -6.94966 1.85487);
      --color-emerald-100: lab(94.9004% -17.0769 5.63836);
      --color-emerald-200: lab(90.2247% -31.039 9.47084);
      --color-emerald-400: lab(75.0771% -60.7313 19.4147);
      --color-emerald-500: lab(66.9756% -58.27 19.5419);
      --color-emerald-600: lab(55.0481% -49.9246 15.93);
      --color-emerald-700: lab(44.4871% -41.0396 11.0361);
      --color-teal-50: lab(98.3189% -4.74921 -0.111711);
      --color-teal-200: lab(90.7612% -33.1343 -0.542295);
      --color-teal-500: lab(67.3859% -49.0983 -2.63511);
      --color-blue-50: lab(96.492% -1.14644 -5.11479);
      --color-blue-100: lab(92.0301% -2.24757 -11.6453);
      --color-blue-200: lab(86.15% -4.04379 -21.0797);
      --color-blue-500: lab(54.1736% 13.3369 -74.6839);
      --color-blue-600: lab(44.0605% 29.0279 -86.0352);
      --color-blue-800: lab(30.2514% 27.7853 -70.2699);
      --color-violet-100: lab(93.0838% 4.35197 -9.88284);
      --color-violet-200: lab(87.0888% 8.53688 -19.4189);
      --color-violet-500: lab(49.9355% 55.1776 -81.8963);
      --color-violet-600: lab(41.088% 68.9966 -91.995);
      --color-violet-700: lab(35.2783% 67.9912 -88.793);
      --color-purple-50: lab(97.1627% 2.99937 -4.13398);
      --color-purple-100: lab(93.3333% 6.97437 -9.83434);
      --color-purple-400: lab(63.6946% 47.6127 -59.2066);
      --color-purple-500: lab(52.0183% 66.11 -78.2316);
      --color-purple-600: lab(43.0295% 75.21 -86.5669);
      --color-rose-500: lab(56.101% 79.4328 31.4532);
      --color-gray-50: lab(98.2596% -0.247031 -0.706708);
      --color-gray-100: lab(96.1596% -0.0823438 -1.13575);
      --color-gray-200: lab(91.6229% -0.159115 -2.26791);
      --color-gray-300: lab(85.1236% -0.612259 -3.7138);
      --color-gray-400: lab(65.9269% -0.832707 -8.17473);
      --color-gray-500: lab(47.7841% -0.393182 -10.0268);
      --color-gray-600: lab(35.6337% -1.58697 -10.8425);
      --color-gray-700: lab(27.1134% -0.956401 -12.3224);
      --color-gray-800: lab(16.1051% -1.18239 -11.7533);
      --color-gray-900: lab(8.11897% 0.811279 -12.254);
    }
  }
}
